h1{
	text-align: center;
}
.div{
	background-color: grey;
	margin: 20px;
	
}
h2{
	text-align: center;
	padding: 20px;
}
p{
	font-size: 20px;
	padding: 50px;


}
.hidden{
	display: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}